<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="云收藏 | 让收藏更简单 |收藏夹 |网络收藏夹"/>
    <meta name="author" content=""/>
    <meta http-equiv="refresh" content="6;url=/lookAround"/>
<body>
<form th:action="@{/createOrder}">
<span>
    商品名称：<input type="text" name="name"></span>
    <button>添加</button>
</form>
</body>
</html>
